<!-- (*) assigned classes -->

<ion-view view-title="Account">

	<ion-content>
		<!-- *profile-bg / container image -->
		<div class="profile-bg">
			<img src="img/bg.jpg" alt="">
		</div>
		<!-- *content / container profile -->
		<div class="content">
			<!-- *profile-info / container data profile -->
			<div class="profile-info">
				<!-- *profile-image / image profile -->
				<img class="profile-image" src="img/82.jpg">
				<!-- *profile-name / name profile -->
				<h3 class="profile-name">Carla Harrington</h3>
				<!-- *profile-description / description profile -->
				<span class="profile-description">
					Designer,Ilustrator
				</span>
			
			</div>
		
		</div>
	</ion-content>
</ion-view>
