<ion-view view-title="Shops">
  <ion-content>


  <div class="item item-avatar">
    <img src="img/82.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="img/82.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    Users Rating
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
  </a>
<div class="item item-divider">
          Services
        </div>

  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>

<div class="item item-divider">
          Address
        </div>
   
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>

<div class="item item-divider">
          Contact Details
         
        </div>
   
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>




  </ion-content>
</ion-view>
