<ion-view view-title="Shops">
  <ion-content>
 <div class="list card">

  <div class="item item-avatar">
    <img src="img/82.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="img/82.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>
<div class="item item-divider">
          services
        </div>

  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>

<div class="item item-divider">
          services
        </div>
   
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>

</div>

  </ion-content>
</ion-view>
